<div class="card">
  <div class="card-header">Update Flight Information</div>
  <div class="card-body">
    <form [formGroup]="bookForm">
      <div class="form-group">
        <label for="airline">Airline Name</label>
        <input
          type="text"
          id="airline"
          formControlName="airline"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="flightNumber">Flight Number</label>
        <input
          type="text"
          id="flightNumber"
          formControlName="flightNumber"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="departureAirportCode">Departure Airport Code</label>
        <input
          type="text"
          id="departureAirportCode"
          formControlName="departureAirportCode"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="arrivalAirportCode">Arrival Airport Code</label>
        <input
          type="text"
          id="arrivalAirportCode"
          formControlName="arrivalAirportCode"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="text"
          id="price"
          formControlName="price"
          class="form-control"
          required
        />
      </div>

      <button type="submit" (click)="updateFlights()" class="btn btn-primary">
        Update
      </button>
    </form>
  </div>
</div>
